/******* GLOBAL CSS *******
***
***************************/

/*FONT IMPORT*/
@font-face {
    font-family: 'Roboto Condensed Bold Italic';
    src: url('../webfonts/RobotoCondensed-BoldItalic-webfont.eot');
    src: url('../webfonts/RobotoCondensed-BoldItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../webfonts/RobotoCondensed-BoldItalic-webfont.woff2') format('woff2'),
         url('../webfonts/RobotoCondensed-BoldItalic-webfont.woff') format('woff'),
         url('../webfonts/RobotoCondensed-BoldItalic-webfont.ttf') format('truetype'),
         url('../webfonts/RobotoCondensed-BoldItalic-webfont.svg#roboto_condensedbold_italic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto Condensed Bold';
    src: url('../webfonts/RobotoCondensed-Bold-webfont.eot');
    src: url('../webfonts/RobotoCondensed-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../webfonts/RobotoCondensed-Bold-webfont.woff') format('woff'),
         url('../webfonts/RobotoCondensed-Bold-webfont.svg#roboto_condensedbold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Roboto Condensed Regular';
    src: url('RobotoCondensed-Regular-webfont.eot');
    src: url('RobotoCondensed-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('RobotoCondensed-Regular-webfont.woff') format('woff'),
         url('RobotoCondensed-Regular-webfont.svg#roboto_condensedregular') format('svg');
    font-weight: normal;
    font-style: normal;
}


/*VAR COLOR*/
:root{
    --blue :  #2D77E8;
    --blue75 :  #2d78e8b6;
    
    --beige : #F06243;
    --white : white;
    --black : black;
    --red : red;
    --orange: orange;
    --green: green;
}

/*DISPLAY NONE*/
@media (max-width: 768px){
    .onlydesktop{
        display:none;
    }

}

@media (min-width: 768px){
    .onlymobile{
        display:none;
    }
}




/* MAIN INDEX CSS*/
main#index .row:nth-child(odd){
    background-color: var(--blue);
    color: var(--white);
}


html{
    height: 100%;
}
body {  
    min-width:290px;
}

header{
    position: sticky;
    top: 0;
    background-color: var(--white);
    z-index: 99;
}

.nomargin{
    margin: 0px;
}

.nopadding{
    padding: 0px;
}

.tcenter{
    text-align: center;
}

.quechua_logo{
    background: center / contain no-repeat url('../img/quechua_logo_nomargin.png');
    height:50px;
}

/*DEFINE FONT*/

h1,h2{
    font-family: 'Roboto Condensed Bold Italic', Arial, sans-serif;
    text-transform: uppercase;
}

h3 {
    font-family: 'Roboto Condensed Bold', Arial, sans-serif; 
    text-transform: uppercase;
}

h4 {
    font-family: 'Roboto Condensed Regular', Arial, sans-serif; 
    text-transform: uppercase;
}

h5{
    font-family: 'Roboto Condensed Regular', Arial, sans-serif; 
}

h6{
    font-family: Arial, sans-serif; 
    font-weight: bold;
}

p{
    font-family: Arial, sans-serif; 
}

a{
    text-decoration: none;
    color: var(--black);
}

/*TITLE & PARAGRAPHE ATTRIBUTE */

@media (min-width: 768px){
    h1{
        font-size: 4em;
        color: var(--blue);
        text-align: center;
    }
    
    h2{
        font-size: 3em;
        color: var(--blue);
    }
    
    h3{
        font-size: 2.5em;
    }
    
    h4{
        font-size: 2em;
    }

    .autocompletion_item h4{
        font-size: 1em;
    }
    
    h5{
        font-size: 1.5em;
    }
    
    h6,p{
        font-size: 1em;
    }
}

@media (max-width: 768px){
    h1{
        font-size: 3em;
        color: var(--blue);
        text-align: center;
    }
    
    h2{
        font-size: 2em;
        color: var(--blue);
    }
    
    h3{
        font-size: 1.5em;
    }
    
    h4{
        font-size: 1em;
    }
    
    h5{
        font-size: 1em;
    }
    
    h6,p{
        font-size: 0.8em;
    }
}

/* BTN STYLE */

.main-btn{
    background-color: rgba(45, 119, 232, 0.75);
    color: white;
}

.main-btn:hover, .m_produit_carr:hover{
    background-color:rgba(45, 119, 232, 1);
    color: white;
}

.main-btn{
    background-color: rgba(45, 119, 232, 0.75);
    color: white;
}

.secondary-btn, .m_produit_carr {
    background-color: rgba(255, 92, 0, 1);
    color: white;
}

.secondary-btn:hover{
    background-color: rgba(240, 98, 67, 1);
    color: white;
}

.minor-btn {
    background-color: white;
    border: solid 1px #000000;
}

.minor-btn:hover {
    background-color: black;
    color: white;
}

.main-btn:focus, .secondary-btn:focus, .minor-btn:focus, .m_produit_carr:focus{
    border: solid 6px var(--black);
}

.main-btn:disabled, .secondary-btn:disabled, .minor-btn:disabled, .m_produit_carr:disabled{
    background-color:#b4b4b47e;
    color: rgb(0, 0, 0);
}



/*NAV CSS*/

@media (max-width: 768px){
    header nav {
        height:110px;
    }
}

@media (min-width: 768px){
    header nav{
        height:130px;
    }
}
nav {
    width: 100%;
    
}

nav > * {
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#index ul > *, header ul > * {
    list-style: none;
}

li > p {
    text-align: center;
}

.separator {
    background-color: var(--blue);
    clip-path: polygon(89% 2%, 45% 100%, 76% 100%);
    width: 60px;
    height: 40px;
}

.sep_nav_menu {
    clip-path: inset(0 0 0 0);
    background-color: var(--blue);
    width: 10px;
    height: 50px;
}

.sep_cta {
    clip-path: ellipse(5% 50% at 50% 50%);
    background-color: var(--black);
}

#classic_menu{
    background-color: var(--white);
}

#classic_menu ul{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#classic_menu ul.items_classic_menu{
    width:100%;
}

#classic_menu ul.icons_classic_menu{
    align-items: center;
    justify-content: space-evenly;  
}

#classic_menu ul.icons_classic_menu i{
    text-align: center;
}

#classic_menu ul.icons_classic_menu p{
    font-size: 14pt;
    line-height: 1.0;
}

#sidemenu{
    width:90%;
    height: 100vh;
    background-color:var(--white);
    border-right: solid 2px var(--black);
    position:absolute;
    left:-90%;
    z-index: 101;
}

#sidemenu_blur{
    position: absolute;
    width: 100%;
    height: 100vh;
    background-color: var(--black);
    opacity: 0;
    z-index: 98;
}

#sidemenu > ul, #sidemenu > h4 {
    text-align: left;
    display: block;
    width:100%;
    margin-left: 20%;
}

.autocompletion{
    position: absolute;
    width: 100%;
    z-index: 100;
}

.autocompletion_item:first-of-type{
    border-top: solid 2px var(--black);
}

#autocompletion_list{
    max-height:250px;
    overflow-y: scroll;
}

.autocompletion_item{
    display: flex;
    background-color: var(--white); 
    width:100%; 
    height: 100px;
    border-left: solid 2px var(--black);
    border-right: solid 2px var(--black);
    border-bottom: solid 2px var(--black);
}

#autocompletion ul {
    padding: 0;
}

.price_stock {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.stock{
    color: var(--green);
}

.nostock{
    color: var(--orange);
}

/*NAV CSS BY SIZE*/

@media (max-width: 768px){
    #classic_menu{
        display: none;
    }

    #nav_menu{
        border: solid 4px var(--black);
    }
}

@media (min-width: 768px){
    
    #mobile_menu,#sidemenu{
        display: none;
    }
}

/*NAV ANIMATION*/

.animation_rotate_icon{
    animation: 0.5s linear 0s rotation_burger_icon;
    animation-fill-mode: forwards;
}

.animation_open_sidemenu{
    animation: 0.5s linear 0s open_sidemenu;
    animation-fill-mode: forwards;
}

.animation_close_sidemenu{
    animation: 0.5s linear 0s close_sidemenu;
    animation-fill-mode: forwards;
}

.animation_active_bg_blur{
    animation: 0.5s linear 0s active_bg_blur;
    animation-fill-mode: forwards;
}

.animation_desactive_bg_blur{
    animation: 0.5s linear 0s desactive_bg_blur;
    animation-fill-mode: forwards;
}

.animation_close_navmenu{
    animation: 0.3s linear 0s close_navmenu;
    animation-fill-mode: forwards;
}

.animation_open_navmenu{
    animation: 0.3s linear 0s open_navmenu;
    animation-fill-mode: forwards;
}

@keyframes rotation_burger_icon {
    from { 
        transform: rotate(0deg); 
    } to { 
        transform: rotate(180deg); 
    }
}

@keyframes open_sidemenu{
    from { 
        left: -90%;
    } to { 
        left: 0%; 
    }
}

@keyframes close_sidemenu{
    from { 
        left: 0%;
    } to { 
        left: -90%; 
    }
}

@keyframes active_bg_blur{
    from { 
        opacity: 0;
    } to { 
        opacity: 0.4; 
    }
}

@keyframes desactive_bg_blur{
    from { 
        opacity: 0.4;
    } to { 
        opacity: 0; 
    }
}

@keyframes close_navmenu{
    from { 
        top: 0px;
    } to { 
        top: -150px; 
    }   
}

@keyframes open_navmenu{
    from { 
        top: -150px;
    } to { 
        top: 0px; 
    }
}

@keyframes scrolldown_blur{
    from { 
        top: 0px;
    } to { 
        top: 150px; 
    }   
}

@keyframes scrollup_blur{
    from { 
        top: 150px;
    } to { 
        top: 0px; 
    }
}




/*INDEX CSS*/
.scaling-div {
    background: url(../img/bg.jpg) no-repeat center center;
    width: 100%;
    background-size: cover;
    padding-bottom: 30%;
    min-height: 400px;
}
.scaling-div span {
    width: 100%;
    height: 100%;
    left: 0;
    display:block;
}

/*QUALITE QUECHUA*/
#qualityquechua{
    text-align: center;
    color: var(--white);
    min-height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5vw;
}

#quechuasvg_logo{
    width: 100%;
}

@media (max-width: 768px){
    
    #qualityquechua{
        font-size: 3.3vw;
    }
}

/*PACKS CSS*/

#packs > article {
    width:60%; 
    height: 36vw; 
    min-width: 294px;
    min-height: 201px;
    max-width: 759px;
    max-height: 470px;
    margin: 0 auto;
    position : relative;
}

.packExpert{
    border: solid 5px var(--black);
    background: center / cover no-repeat url(../img/banniere/banniere1.jpg);
    left: -20%;
    top: 0%;
}

.packDebutant{
    border: solid 5px var(--black);
    background: center / cover no-repeat url(../img/banniere/banniere2.jpg);
    right: -20%;
    top:-30%;
}

@media (min-width: 768px){
    #packs {
        height: 56vw;
        max-height: 730px;
    }
}


@media (max-width: 768px){
    
    #packs > article {
        width:100%; 
        height: 50vw; 
        margin: 0 auto;
        position : unset;
    }
}


/*BANNIERE CSS*/
.banniere_title,.banniere_subtitle,.banniere_price{
    font-family: 'Barlow Medium Italic', Arial, sans-serif;
    font-weight: bold;
    color: var(--white);
    -webkit-text-stroke: 1px var(--blue75);
}

.banniere_title{
    font-size: 48pt;
}

.banniere_hr{
    color: var(--white);
    opacity: 1;
}

/*LIFESTYLE CSS*/
#lifestyle {
    display : flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

#lifestyle > p{
    width: 50%
}

@media (min-width: 768px){
    #lifestyle img {
        width: 30%;
    }
}


@media (max-width: 768px){
    
    #lifestyle img {
        width: 100%;
    }
}

/*WINTER PRODUCT CSS*/

#winter_product > div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    text-align:center;

}

#winter_product > div > img {
    width: 70%;
}

/*FOOTER CSS*/

footer img {
    width: 3em;
    height: 3em;
}

footer{
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    background-color : white;
}


footer li{
    list-style : none;
    text-align : center;
}


/******* PRODUCT CSS *******
***
***************************/





@media (min-width: 768px){
    .product_firstlook > div:first-child{
        height: 600px;
    }

    .product_firstlook_info{
        display: flex;
        flex-direction: column;
    }

    .product_firstlook_info .stock_status {
        order: 2;
    }
    
    .product_firstlook_info .description {
        order: 1;
    }
}

@media (max-width: 768px){
    .product_firstlook > div:first-child{
        height: 200px;
    }

    .product_firstlook_info .rating {
        text-align: right;
    }
}

.logopartage{
    width: 4vw;
    height: 4vw;
}

.m_produit_carr {
    cursor: pointer;
}
.m_selected {
    background-color: var(--blue75);
}

.yt_video {
    justify-content: center;
    width: 100%;
    height: 37vw;
}



/* CATEGORIE CSS */

body {
    overflow-x: hidden;
}

div.enfant {
    display: none;
}

div.parent:hover .enfant {
    display: block;
}

@media (max-width: 768px){
    div.parent:active .enfant {
        display: block;
    }
} 

.check {
    padding: 5%;
}

#sidebar div:first-child {
    margin-bottom: 10%;
}

#sidebar h4 {
    text-align: center;
}

#content h2 {
    text-align: center;
    margin-bottom: 5%
}

#types div {
    margin-bottom: 1%
}

#types li {
    list-style: none;
}


/* FILTRAGE */

.hidden {
    display: none;
}

h3 {
    text-align: center;
    margin-bottom: 2%;
}


/* SIDEBAR */

.navbar {
    padding: 15px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 7em;
    margin: 40px 0;
}

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
    perspective: 1500px;
}

#sidebar {
    z-index: 1001;
    position: sticky;
    position: -webkit-sticky;
    height: 1000%;
    min-width: 250px;
    max-width: 250px;
    background: #5c79f0;
    color: #fff;
    transition: all 0.6s cubic-bezier(0.945, 0.020, 0.270, 0.665);
    transform-origin: bottom left;
}

.components {
    position: sticky;
    position: -webkit-sticky;
    padding: 4%
}

#sidebar.active {
    margin-left: -250px;
    transform: rotateY(100deg);
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #abbbff;
}

.active {
    text-align: start;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

#content {
    width: 100%;
    padding: 20px;
    overflow-y : auto;
    transition: all 0.3s;
    top: 20%
}

#sidebarCollapse {
    width: 40px;
    height: 40px;
    background: #f5f5f5;
    cursor: pointer;
}

#sidebarCollapse span {
    width: 80%;
    height: 2px;
    margin: 0 auto;
    display: block;
    background: #555;
    transition: all 0.8s cubic-bezier(0.810, -0.330, 0.345, 1.375);
    transition-delay: 0.2s;
}

#sidebarCollapse span:first-of-type {
    transform: rotate(45deg) translate(2px, 2px);
}

#sidebarCollapse span:nth-of-type(2) {
    opacity: 0;
}

#sidebarCollapse span:last-of-type {
    transform: rotate(-45deg) translate(1px, -1px);
}

#sidebarCollapse.active span {
    transform: none;
    opacity: 1;
    margin: 5px auto;
}

@media (max-width: 768px){
.card img{
    width : 100px;
    height : 150px;
    margin: auto;
}
}
