<footer>
        <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
            <div class="me-5 d-none d-lg-block">
                <img alt="quechua logo" src="./img/quechua_logo.png"/>
            </div>
            <div>
                <span>Nos réseaux sociaux !</span>
                <a href="https://twitter.com/quechua" class="me-4 text-reset"><img alt="twitter logo" src="./img/twitter.png"/></a>
                <a href="https://www.facebook.com/Quechua/" class="me-4 text-reset"><img alt="facebook logo" src="./img/facebook.png"/></a>
                <a href="https://www.instagram.com/quechua/" class="me-4 text-reset"><img alt="instagram logo" src="./img/instagram.png"/></a>
            </div>
        </section>
        <section class="container text-center text-md-start mt-5">
            <div  class="row mt-3">
                <div class="col-md-3 col-lg-4 col-xl-4 mx-auto mb-4">
                    <h3 class="text-uppercase fw-bold mb-4">Service Client</h3>
                    <ul>
                        <li>Prix excellence client 2021</li>
                        <li>Modes de livraison</li>
                        <li>Retour & échange</li>
                        <li>Rappels de produits</li>
                        <li>Service client accessible</li>
                        <li>Une question ?</li>
                        <li>Votre avis compte</li>
                    </ul>
                </div>
                <div class="col-md-3 col-lg-4 col-xl-4 mx-auto mb-4">
                    <h3 class="text-uppercase fw-bold mb-4">Nos Services</h3>
                    <ul>
                        <li>Activités sportives</li>
                        <li>Assistance SAV</li>
                        <li>Assurance</li>
                        <li>Comment choisir votre produits ?</li>
                        <li>Compte Decathlon</li>
                        <li>Conseils sport</li>
                        <li>Decathlon Pro</li>
                    </ul>
                </div>
                <div class="col-md-3 col-lg-4 col-xl-4 mx-auto mb-4">
                    <h3 class="text-uppercase fw-bold mb-4">Découvrez Decathlon</h3>
                    <ul>
                        <li>Conception</li>
                        <li>Distribution</li>
                        <li>Co-création</li>
                        <li>Production</li>
                        <li>Relation durable</li>
                    </ul>
                </div>
                <div class="text-center p-4" >
                    <p>&copy; DECATHLON SAS - Quechua 2021</p>
                </div>
            </div>
        </section>
    </footer>
