<!--HEADER-->
<header>
    <!--DESKTOP MENU-->
    <nav id="nav_menu" class="container-fluid">
        <div id="classic_menu" class="row">
            <div class="col-sm-1 quechua_logo" id="logo_desktop"></div>
            <div class="col-sm-8 col-xl-9">
                <ul class="items_classic_menu nomargin">
                    <a href="./listproducts.html"><li>Vos activités</li></a>
                    <li class="separator"></li>
                    <li>Vos gammes</li>
                    <li class="separator"></li>
                    <li>Nos inspirations</li>
                    <li class="separator"></li>
                    <li>Les nouveautés</li>
                    <li class="separator"></li>
                    <li>La fidélité & moi</li>
                </ul>
            </div>
            <ul class="col-sm-3 col-md-3 col-xl-2 icons_classic_menu nomargin">
                <li class="sep_nav_menu"></li>
                <li>
                    <i class="fa fa-star fa-2x" style="width:100%"></i>
                    <p class="nomargin">Mes envies</p>
                </li>
                <li>
                    <i class="fas fa-user fa-2x" style="width:100%"></i>
                    <p class="nomargin">Mon compte</p>
                </li>
                <li>
                    <i class="fas fa-shopping-bag fa-2x" style="width:100%"></i>
                    <p class="nomargin">Panier</p>
                </li>
            </ul>
        </div>
        <!--MOBILE MENU-->
        <div id="mobile_menu" class="row" style="align-items: center;padding-top: 10px;">
            <div class="col-1">
                <i id="burger_icon" class="fa fa-bars fa-2x icon-default" data-open="false"></i>
            </div>
            <div class="col-4 offset-3" id="logo_mobile">
                <object id="quechuasvg_logo" data="./svg/quechua_logo_extended.svg" type="image/svg+xml"></object>
            </div>
            <div class="col-3 offset-1" style="padding: 0px;">
                <ul
                    style="display:flex;align-items: center;justify-content: space-evenly;margin-bottom: 0px;width:100%; padding: 0px;">
                    <li><i class="fa fa-star fa-lg"></i></li>
                    <li><i class="fas fa-user fa-lg"></i></li>
                    <li><i class="fas fa-shopping-bag fa-lg"></i></li>
                </ul>
            </div>
        </div>
        <!--SEARCH BAR-->
        <div class="row" id="searchbar">
            <div class="col-10 col-md-8 col-lg-6">
                <div class="input-group mb-3" style="padding-top: 10px;">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1" style="height: 100%;"><i
                                class="fa fa-search"></i></span>
                    </div>
                    <input id="searchBox" type="text" class="form-control" placeholder="Sac à dos, bottes, tente..."
                        aria-label="Username" aria-describedby="basic-addon1">
                    
                </div>
            </div>
        </div>

        <!-- AUTOCOMPLETION -->
        <div id="autocompletion" class="row autocompletion" style="display:none;">
            <div class="col-10 col-md-8 col-lg-6">
                <ul id="autocompletion_list"></ul>
            </div>
        </div>
    </nav>

    

    <!--BLUR    -->
    <div id="sidemenu_blur" style="display: none;"></div>
    <nav id="sidemenu">
        <h4>Vos activités</h4>
        <ul>
            <li>Randonnée</li>
            <li>Trek</li>
            <a href="./listproducts.html"><li>Camping</li></a>
            <li>Escalade</li>
        </ul>
        <h4>Nos gammes</h4>
        <ul>
            <li>Premier Prix</li>
            <li>Bonne affaire</li>
            <li>Le choix des pros</li>
        </ul>
        <h4>Nos inspirations</h4>
        <ul>
            <li>Pack Randonnée</li>
            <li>Pack Trek</li>
            <li>Pack Camping</li>
            <li>Pack escalde</li>
        </ul>
        <h4>Les nouveautés</h4>
        <h4>La fidélité et moi</h4>
    </nav>

</header>