<head>
    <!--META BALISE-->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta name="description" content="" />
    <meta name="keywords" content="" lang="fr" />
    <meta name="author" content="" />
    <!--TITLE-->
    <title>Quechua - Accueil</title>
    <!--PREVIEW TWITTER-->
    <meta property="twitter:card" content="">
    <meta property="twitter:url" content="">
    <meta property="twitter:title" content="">
    <meta property="twitter:description" content="">
    <meta property="twitter:image" content="">
    <!--CSS STYLESHEET-->
    <link href="./css/bootstrap.min.css" rel="stylesheet">
    <link href="./css/fa.min.css" rel="stylesheet">
    <link href="./css/quechua_style.css" rel="stylesheet">
    <!--JS SCRIPT-->
    <script src="./js/bootstrap.bundle.min.js"></script>
    <script src="./js/quechua_common.js"></script>
    <script type="text/javascript" src="./js/listproduct.json"></script>
</head>